.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    align-items: center;   
    justify-content: center;  
    min-height: 100vh;        
    margin: 0;           
    flex-direction: column; 
    padding: 5rem;      
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    max-width:90rem;
}

.sub1 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;   
    position: relative; 
    width: 100%;
    max-width: 43rem;     
    padding: 0.9375rem;    
}

.sub11 {
    margin: 1.25rem;       
}

.img1 {
    height: auto;
    width: 100%;
    border-radius: 2rem;
    display: block;
}

.sub12{
    margin: 0;
}

h3 {
    color: hsl(332, 51%, 32%);
    margin: 1.25rem;   
    font-weight: bold;   
}

h1 {
    font-family: 'Young Serif', serif;
    font-weight: bold;
}

h2 {
    color: hsl(14, 45%, 36%);
    margin: 1.25rem;        
    font-family: 'Young Serif', serif;
    font-weight: bold;
}

.pink {
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.625rem; 
    padding: 0.3125rem;     
    margin: 1.25rem;        
}

table {
    border-collapse: collapse; 
    width: 93%;              
    margin: 1.25rem;       
}

tr {
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

tr:last-child {
    border-bottom: none; 
}

td:first-child {
    padding: 0.8rem;
    color: hsl(30, 10%, 34%); 
}

td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

p {
    margin: 1.25rem;    
    color: hsl(30, 10%, 34%);
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ul li, ol li {
    padding-inline-start: 0.9375rem;
    margin-bottom: 0.9375rem;  
    padding-right: 0.9375rem; 
    color: hsl(30, 10%, 34%);
}

hr {
    width: 90%;
    border-top: 1px solid hsl(0, 0%, 90%); 
    margin: auto;
}

span {
    font-weight: bold;
}

@media (max-width: 23.4375rem) { 
    body {
        padding: 0;                               
        background-color: hsl(0, 0%, 100%);    
    }

    .sub1 {
        width: 100%;                              
        border-radius: 0;  
        padding: 0; 
    }
    .img1 {
        border-radius: 0; 
        margin:0;
    }   
}